<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<context:component-scan base-package="com.raptoz" />
	
	<context:property-placeholder location="classpath:/com/raptoz/config/raptoz.properties"/>
	
	<mongo:db-factory dbname="raptoz"/>
	
	<!--
		Spring Data MongoDB 레퍼런스 메뉴얼에 나와있는데로 하면 에러남..
		아래와 같이 MongoMappingContext 빈을 두고 컨버터는 <bean> 으로 등록시켜야됨. 
		그리고 MongoTemplate 아규먼트도 팩토리와 컨버터로 바꿔줘야 함.
	-->
	<!-- <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/> -->
	
	<!-- <mongo:mapping-converter mapping-context-ref="mappingContext">
		<mongo:custom-converters>
			<mongo:converter>
				<bean class="com.raptoz.spring.data.converter.RoleTypeReaderConverter"/>
			</mongo:converter>
			<mongo:converter>
				<bean class="com.raptoz.spring.data.converter.RoleTypeWriteConverter"/>
			</mongo:converter>
		</mongo:custom-converters>
	</mongo:mapping-converter> -->
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
		<!-- <constructor-arg name="mongoConverter" ref="mappingConverter"/> -->
	</bean>
	
	<mongo:repositories base-package="com.raptoz"/>
	
	<mvc:annotation-driven conversion-service="conversionService"/>
	
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<!-- DomainClassConverter에서 conversionService 참조를 가지고 있어서 오류남.
				<bean class="org.springframework.data.repository.support.DomainClassConverter">
					<constructor-arg ref="conversionService"/>
				</bean>
				-->
				<bean class="com.raptoz.spring.converter.ObjectIdToDomainConverter"/>
			</set>
		</property>
	</bean>
	
	<mvc:default-servlet-handler/>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html;charset=UTF-8"/>
	</bean>
	
	<!-- Only needed because we require fileupload in the org.springframework.samples.mvc.fileupload package -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
</beans>
